//- 頁面: accountinfo 顯示帳號資訊
//- Backend render:
//-     data = {
//-         account: 使用者帳號
//-         type: 使用者role type
//-         isConnected: 使用者是否已跟voip連線
//-         ext: 紀錄該使用者已註冊之分機號
//-         info: 使用者帳號資料
//-     }

include layout.pug
    title Account Info and Setting
    script(src="/js/accountinfo.js")

body#page-top.fixed-nav.sticky-footer.bg-dark
    .content-wrapper
        .container-fluid
            // 導覽列
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='/accountinfo') My Account
                li.breadcrumb-item.active Settings

            .mx-auto.col-xl-4.col-lg-10
                .text-center
                    h1.display-4 Account Information
                .card
                    //- 帳號資訊表單
                    .card-body
                        form
                            .form-group
                                label(for='account') Email (Account)
                                input#account.form-control(name='account' type='email' value=data.info.account disabled)
                            .form-group
                                label(for='fname') First name
                                input#fname.form-control(name='fname' type='text' value=data.info.firstname)
                            .form-group
                                label(for='lname') Last name
                                input#lname.form-control(name='lname' type='text' value=data.info.lastname)
                            .form-group
                                label(for="role") Role
                                - var role
                                - (data.info.type==1) ? role='Admin' : ((data.info.type==2)? role='Manager': role='Operator')
                                    input#role.form-control(name='role' value=role disabled)
                    
                    //- 儲存修改&重設密碼按鈕
                    .card-footer
                        .text-center
                            button.mr-3.btn.btn-primary(type='button' data-toggle="modal" data-target="#confirmSave") Save changes
                            button.btn.btn-info(type='button' data-toggle="modal" data-target="#confirmApply") Reset password
                
                #notice.mt-3.alert.alert-success.alert-dismissible.fade.hide(role='alert')
                    h4.alert-heading
                    p
                    button.close(type='button' data-dismiss='alert' aria-label='Close')
                        span(aria-hidden='true') &times;

    include navbar.pug

    //- 確定儲存變更popup
    #confirmSave.modal.fade(tabindex="-1" role="dialog" aria-labelledby="confirmSave" aria-hidden="true")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
                .modal-header
                    h5.modal-title Save
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body Do you want to save changes?
                .modal-footer
                    button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
                    button#save.btn.btn-primary(type="button" data-dismiss="modal") Save
    
    //- 送出變更密碼popup
    #confirmApply.modal.fade(tabindex="-1" role="dialog" aria-labelledby="confirmApply" aria-hidden="true")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
                .modal-header
                    h5.modal-title Reset password
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body System will send reset password link to your mail address.
                .modal-footer
                    button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
                    button#apply.btn.btn-primary(type="button" data-dismiss="modal") Apply