//- 頁面: accountmanager 顯示系統所有帳號清單 (admin)
//- Backend render: 
//-     data = {
//-         account: 使用者帳號
//-         type: 使用者role type
//-         isConnected: 使用者是否已跟voip連線
//-         ext: 紀錄該使用者已註冊之分機號
//-         users: 使用者清單
//-     }

include layout.pug
    title Account Management
    script(src="/js/accountmanage.js")

body#page-top.fixed-nav.sticky-footer.bg-dark
    .content-wrapper
        .container-fluid
            //- 導覽列
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='/accountmanage') Account Management
                li.breadcrumb-item.active Create new
            .row

                //- 列出除了admin外的所有帳號
                .col-xl-8.col-lg-12
                    .d-flex.align-items-baseline.p-0.m-0
                        h1.display-4 Account List
                        span.ml-auto
                            input#search.form-control(placeholder="Search...")
                    table#myTable.table.table-hover
                        thead.thead-dark
                            tr
                                th Id
                                th Account
                                th Name
                                th Role
                                th Status
                                th Delete
                                th Edit
                        tbody
                            - var users = JSON.parse(data.users)
                            each user in users
                                tr(opid=user.opid)
                                    th(scope="row")= user.opid
                                    td= user.firstname + ' ' + user.lastname
                                    td= user.account
                                    td.role
                                        option
                                    td.status
                                        option
                                    td
                                        //- 刪除帳號icon
                                        i.delete.invisible.btn.fa.fa-remove(data-user=user.opid data-toggle="modal" data-target="#confirmdelete")
                                    td
                                        //- 變更帳號icon
                                        i.edit.btn.text-secondary.fa.fa-pencil.invisible

                //- 新增帳號form
                .col-xl-4.col-lg-12
                    h1.display-4 Create Account
                    .card
                        .card-header Account Information
                        .card-body
                            form
                                .form-group
                                    label(for='account') Email (Account)
                                    input#account.form-control(name='account' type='email', aria-describedby='emailHelp', placeholder='Enter email' required)
                                    .invalid-feedback Please check email format.
                                .form-group
                                    label(for='fname') First name
                                    input#fname.form-control(name='fname' type='text', aria-describedby='nameHelp', placeholder='Enter first name' required)
                                    .invalid-feedback Please provide first name.
                                .form-group
                                    label(for='lname') Last name (optional)
                                    input#lname.form-control(name='lname' type='text', aria-describedby='nameHelp', placeholder='Enter last name')
                                .form-group
                                    label(for="role") Role
                                    select#role.form-control(name='role' required)
                                        option(selected) Operator
                                        option Manager
                                .text-center
                                    button#create.btn.btn-primary(type='button') Create

    include navbar.pug

    //- 確定儲存修改提示
    #savechange.modal.fade(tabindex="-1" role="dialog" aria-labelledby="savechange" aria-hidden="true")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
                .modal-header
                    h5.modal-title Save?
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body Do you want to change account status and save change?
                .modal-footer
                    button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
                    button#save.btn.btn-primary(type="button" data-dismiss="modal") Save

    //- 確定新建帳號提示
    #confirmcreate.modal.fade(tabindex="-1" role="dialog" aria-labelledby="confirmcreate" aria-hidden="true")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
                .modal-header
                    h5.modal-title Create?
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body Do you want to create new account and save?
                .modal-footer
                    button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
                    button#confirm.btn.btn-primary(type="button" data-dismiss="modal") Yes

    //- 確定刪除帳號提示
    #confirmdelete.modal.fade(tabindex="-1" role="dialog" aria-labelledby="confirmdelete" aria-hidden="true")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
                .modal-header
                    h5.modal-title Delete?
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body Do you really want to delete this account and save?
                    .text-danger This won't be restored once you confirmed. 
                .modal-footer
                    button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
                    button#delete.btn.btn-danger(type="button" data-dismiss="modal") Delete

script.
    //- 轉html格式、取字串、轉object
    var users = JSON.parse($.parseHTML("#{data.users}")[0].textContent)