//- 頁面: callLog 顯示單筆log資訊
//- Backend render:
//-     data = {
//-         account: 使用者帳號
//-         type: 使用者role type
//-         isConnected: 使用者是否已跟voip連線
//-         ext: 紀錄該使用者已註冊之分機號
//-         log: 該筆log詳細資訊
//-     }


include layout.pug
    title History Call List
    script(src="/js/location.js")
    script(src="/js/callLog.js")

body#page-top.fixed-nav.sticky-footer.bg-dark
    .content-wrapper
        .container-fluid
            //- 導覽列
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='/historycalls') Hotline dashboard
                li.breadcrumb-item.active Call Details

        .container-fluid
            //- Callid, Ext, Op資訊
            .row.ml-5.mr-5.mt-5.align-items-end.d-flex
                .col-xl-9.col-sm-12
                    .row
                        .col-xl-6.col-sm-12.mb-2
                            .input-group
                                .input-group-prepend
                                    .input-group-text Extension
                                input.form-control(type="text" placeholder=data.log.ext disabled)
                        .col-xl-6.col-sm-12.mb-2
                            .input-group
                                .input-group-prepend
                                    .input-group-text Operator
                                input.form-control(type="text" placeholder=`${data.log.firstname} ${data.log.lastname}` disabled)

            //- 該通電話訊息
            .row.ml-5.mr-5.mt-2.d-flex.justify-content-center
                //- Caller 資訊
                .col-xl-3.col-md-6.col-sm-12
                    .card.text-center.h-100
                        h5.card-header Member Info
                        - var avatarSource
                        - (data.log.avatar !='')? avatarSource = data.log.avatar : avatarSource = '/img/caller.png'
                            img#avatar.card-img-top.img-thumbnail.rounded.mx-auto(src='/img/'+avatarSource alt="userpic")
                        .card-body
                            h5.card-title#name Name: #{data.log.name}
                .col-xl-9.col-md-6.col-sm-12
                    .row.h-100.d-flex
                        //- 通話紀錄資訊
                        .col-xl-6.col-md-12.col-sm-12
                            .card.callinfo
                                h5.card-header Call Details
                                    span
                                        small.float-right Status:
                                            span.font-weight-normal#endcode
                                .card-body
                                    p
                                        span.badge.badge-primary.mybadge Call-in
                                        span#callin
                                    p
                                        span.badge.badge-success.mybadge Answer
                                        span#answer
                                    p
                                        span.badge.badge-warning.mybadge Reject
                                        span#reject
                                    p
                                        span.badge.badge-danger.mybadge Hangup
                                        span#hangup
                                .card-footer
                                    .text-primary Records
                                        p No records available

                        //- caller位置資訊
                        .col-xl-6.col-md-12.col-sm-12
                            .card.callinfo
                                h5.card-header Location
                                    span
                                        small.float-right.font-weight-normal (#{data.log.longitude}, #{data.log.latitude})
                                #map.d-flex

                        //- Operator留下之memo
                        .col-xl-12.col-md-12.col-sm-12.mt-2.align-self-end
                            .card
                                h5.card-header Memo
                                .card-body#memo

            //- 回列表
            .row.ml-5.mr-5.mt-2.justify-content-between
                .col.text-center
                    a.btn.btn-info(href='/historycalls') Back to list

    include navbar.pug

//- Put your js scripts
script.
    var lat = "#{ data.log.latitude }",
        lng = "#{ data.log.longitude }",
        endcode = #{ data.log.endcode },
        callid = "#{ data.log.callid }",
        memo = "#{data.log.memo}",
        callin = "#{data.log.callin}",
        answer = "#{data.log.answer}",
        reject = "#{data.log.reject}",
        hangup = "#{data.log.hangup}"