//- 頁面: forgetpw 忘記/重設密碼


include layout.pug
    title Forget password
    script(src="/js/forgetpw.js")  

body.bg-dark
    .container
        .card.card-login.mx-auto.mt-5
            .card-header
                | Reset Password
            .card-body
                .text-center.mt-2.mb-2
                    h4 Forgot your password?
                    p
                        | Enter your email address and we will send you instructions on how to reset your password.
                    .form-group
                        input#mail.form-control(name='mail' type='email', aria-describedby='emailHelp', placeholder='Enter email' required)
                        .invalid-feedback Please check email format.
                    button#send.btn.btn-primary.btn-block Reset Password
            .card-footer.text-center
                a.d-block.small(href='login') Login Page

    //- 送出申請後跳轉頁面提示
    #notice.modal.fade(tabindex='-1' role='dialog' aria-labelledby='notice' aria-hidden='true' data-backdrop='static' data-keyboard='false')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title We Got your request!
                .modal-body We've sent reset link, please check your mailbox, thank you. 
                .modal-footer
                    p#msg.text-warning(hidden) 
                        | System will turn to login page in 
                        span#timer 5 
                        | seconds
                    button#close.btn.btn-secondary(type="button") Ok