//- 頁面: historycalls 顯示所有來電列表 (operator, manager)
//- Backend render:
//-   data = {
//-     account: 使用者帳號
//-     type: 使用者role type
//-     isConnected: 使用者是否已跟voip連線
//-     ext: 紀錄該使用者已註冊之分機號
//-     totalCounts: 全部資料筆數
//-     countsPerPage: 每頁顯示的資料筆數
//-     oplist: 所有operator + manager列表 (first name)
//-   }


include layout.pug
    title OFW Call-in
    script(src="/js/historycalls.js")
    script(src="/js/jquery.twbsPagination.min.js")

body#page-top.fixed-nav.sticky-footer.bg-dark
    .content-wrapper
        .container-fluid
            //- 導覽列
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='/historycalls') Hotline dashboard
                li.breadcrumb-item.active History Calls

            .row
                .col-2
                .col-xl-8.col-md-12.text-center
                    ul#pagenav.pagination.mt-4

                    table#myTable.table.table-hover.mt-4
                        thead.thead-dark
                            tr
                                th(scope="col") Status
                                th(scope="col") Caller
                                th(scope="col") Call-in time
                                th(scope="col") Operator
                                    //- operator下拉式選單
                                    select#opfilter.form-control-sm.form-control.mt-2
                                        option(selected) all
                                        each op in data.oplist
                                            option= op
                                th(scope="col") Ext.
                        tbody
                .col-2

    include navbar.pug

//- Put your js scripts
script.
    var totalCounts = #{data.totalCounts}
    var countsPerPage = #{data.countsPerPage}
    var usertype = #{data.type}