//- 頁面: hotline 接聽電話頁面 (operator, manager)
//- Backend render:
//-   data = {
//-     account: 使用者帳號
//-     type: 使用者role type
//-     isConnected: 使用者是否已跟voip連線
//-     ext: 紀錄該使用者已註冊之分機號
//-   }


include layout.pug
    title Hotline - Member Call-in
    script(src="/js/hotline.js")
    script(src="js/location.js")
    script(src="https://cdn.ckeditor.com/4.9.0/basic/ckeditor.js")

body#page-top.fixed-nav.sticky-footer.bg-dark
    include navbar.pug
    .content-wrapper
        .container-fluid
            //- 導覽列
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='/hotline') Hotline dashboard
                li.breadcrumb-item.active Caller Information

        .container-fluid.mt-5.mb-5.pl-5.pr-5
            .display-4.mt-4 Member Info
                span
                    //- 儲存本次來電資料
                    button.btn.btn-secondary.ml-5#save(disabled) Save this call

            .row.mt-2.d-flex

                //- Caller基本資料
                .col-xl-3.col-md-3.col-sm-12
                    .card.h-100
                        h5.card-header Details
                        img#avatar.card-img-top.img-thumbnail.rounded.mx-auto(src="/img/caller.png" alt="userpic")
                        .card-body
                            h5.card-title Name 
                                p.float-right#name

                .col-xl-5.col-md-9.col-sm-12
                    //- 顯示來電時間
                    .card.h-40.mt-2
                        h5.card-header Status
                            span#callerstatus.float-right.badge.badge-secondary No Call
                        .card-body
                            .text-info Call-in date                  
                            .input-group
                                .input-group-prepend
                                    .input-group-text
                                        i.fa.fa-calendar
                                input#callin.form-control(type="text" placeholder="" disabled)

                    //- memo備忘欄
                    .card.h-60.mt-2
                        h5.card-header Memo
                        textarea#editor(name="memo" placeholder="add memo...")

                //- Caller位置資訊
                .col-xl-4.col-md-12.col-sm-12
                    .card.h-100.mt-2
                        h5.card-header Location
                        #map.d-none

//- Put your js scripts
script.
    $(document).ready(function(){
        //- 當離開頁面強制儲存
        $(window).on('beforeunload',function(){
            $('#loop-call').emcall('forceSave')
            return true
        })
    })