include layout.pug
    title Portal

body#page-top.fixed-nav.sticky-footer.bg-dark
    .content-wrapper
        .container-fluid
            // Breadcrumbs
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='/') Hotline Dashboard
                li.breadcrumb-item.active My Dashboard

            //- // Icon Cards
            //- .row
            //-   .col-xl-3.col-sm-6.mb-3
            //-     .card.text-white.bg-primary.o-hidden
            //-       .card-body
            //-         .card-body-icon
            //-           i.fa.fa-fw.fa-comments
            //-         .mr-5
            //-           | 26 New Messages!
            //-       a.card-footer.text-white.clearfix.small.z-1(href='#')
            //-         span.float-left View Details
            //-         span.float-right
            //-           i.fa.fa-angle-right
            //-   .col-xl-3.col-sm-6.mb-3
            //-     .card.text-white.bg-warning.o-hidden
            //-       .card-body
            //-         .card-body-icon
            //-           i.fa.fa-fw.fa-list
            //-         .mr-5
            //-           | 11 New Tasks!
            //-       a.card-footer.text-white.clearfix.small.z-1(href='#')
            //-         span.float-left View Details
            //-         span.float-right
            //-           i.fa.fa-angle-right
            //- .row
            //-   .col-lg-8
            //-     // Example Bar Chart Card
            //-     .card.mb-3
            //-       .card-header
            //-         i.fa.fa-bar-chart
            //-         |  Bar Chart Example
            //-       .card-body
            //-         .row
            //-           .col-sm-8.my-auto
            //-             canvas#myBarChart(width='100', height='50')
            //-           .col-sm-4.text-center.my-auto
            //-       .card-footer.small.text-muted
            //-         | Updated yesterday at 11:59 PM
            //-   .col-lg-4
            //-     // Example Pie Chart Card
            //-     .card.mb-3
            //-       .card-header
            //-         i.fa.fa-pie-chart
            //-         |  Pie Chart Example
            //-       .card-body
            //-         canvas#myPieChart(width='100%', height='50')
            //-       .card-footer.small.text-muted
            //-         | Updated yesterday at 11:59 PM

    include navbar.pug
    include footer.pug