//- 頁面: login 登入頁


include layout.pug
    title Hotline Dashboard Login
    script(src="/js/login.js")  

body.bg-dark
    .container
        .card.card-login.mx-auto.mt-5
            .card-header
                | Login
            .card-body
                form
                    .form-group
                        label(for='account') Account (Email)
                        input#account.form-control(name='account' type='email' aria-describedby='emailHelp' placeholder='Enter email' required)
                        .invalid-feedback Invalid email format.
                    .form-group
                        label(for='password') Password
                        input#password.form-control(name='password' type='password' placeholder='Password' required)
                        .invalid-feedback Password is required.
                    button#login.btn.btn-primary.float-right(type='button') Login
                a(href='forgetpw') Forgot Password?
            
            //- //- 快速登入(for dev)
            //- .card-footer.text-center
            //-     p.h6.text-primary Quick login for testing:
            //-     button#admin.btn.btn-dark.btn-sm.mr-1 Admin(type1)
            //-     button#type2.btn.btn-dark.btn-sm.mr-1 type2
            //-     button#type3.btn.btn-dark.btn-sm.mr-1 type3

    //- 資料錯誤提示
    #error.alert.alert-danger.alert-dismissible.fade.card-login.mx-auto.mt-5(role='alert')
        h4.alert-heading Login Failed
        p Wrong account or password, please check
        hr
        p.mb-0 Connect system admin for further assistance.
        button.close(type='button' data-dismiss='alert' aria-label='Close')
            span(aria-hidden='true') &times;

script.
    $(document).ready(function(){
        // For Wattertek Test. Mark below if production
        $("#admin").click(function(){
            $("#account").val("admin@wattertek.com")
            $("#password").val("admin")
        })
        $("#type2").click(function(){
            $("#account").val("tea.lin@wattertek.com")
            $("#password").val("1234")
        })
        $("#type3").click(function(){
            $("#account").val("op1@wattertek.com")
            $("#password").val("ofw-1234")
        })
    })