//- 模組: 左側導覽頁
//- Backend render:
//-   data = {
//-     account: 使用者帳號
//-     type: 使用者role type
//-     isConnected: 使用者是否已跟voip連線
//-     ext: 紀錄該使用者已註冊之分機號
//-   }


script(src='/js/dashboard.js')
script(src="/js/jssip-3.2.4.cus.js")
script(src="/js/loop.emcall.js")
script(src='/js/navbar.js')

nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top

    //- 當螢幕縮小才會出現展開nav的按鈕
    button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon

    #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.navbar-sidenav

            a.mybrand(href='/') #{data.navtitle} Hotline Dashboard

            //- 目前登入者資訊
            .user-panel
                .text-center
                    img.img-circle(src="/img/loginuser.png" alt="User Image")
                    p(style="text-align:center;color:white") #{data.account}

                #loop-call.hotline.mt-3.text-center.auth.type2.type3
                    video#remoteView.loop-voip-remotestream(ref="removeVideo" hidden autoPlay)
                    audio#ringing.loop-voip-ringplayer(hidden)
                    .d-block
                        //- 與voip連線狀態
                        #opstatus.badge.badge-pill.badge-secondary Offline
                        hr
                    .card.mr-4.ml-4
                        .card-body.text-center
                            h6#extmsg.d-inline.text-primary
                            span
                                i#refresh.btn.fa.fa-refresh
                            select#exts.form-control
                        .card-footer.text-center
                            button#connect.loop-voip-connect.btn.btn-sm.btn-primary(type="button") Connect
                    hr

            //- 選單：Hotline接聽功能 (operator, manager)
            li.nav-item(data-placement='right')
                a.nav-link.nav-link-collapse(data-toggle='collapse' href='#hotline')
                    i.fa.fa-fw.fa-dashboard.text-left
                    span.nav-link-text Hotline dashboard
                ul#hotline.sidenav-second-level.collapse.show
                    li.type2.type3.auth
                        a(href='/hotline')
                            i.fa.fa-fw.fa-phone.text-left
                            span.nav-link-text Call-in
                    li.type2.type1.type3.auth
                        a(href='/historycalls')
                            i.fa.fa-fw.fa-history.text-left
                            span.nav-link-text History calls
                    li.type2.type3.auth.text-center
                        button#simulate.btn.btn-small.btn-info DemoCall


            //- 選單：系統管理員帳號管理 (admin)
            li.auth.type1.nav-item(data-placement='right')
                a.nav-link(href='accountmanage')
                    i.fa.fa-fw.fa-address-book-o.text-left
                    span.nav-link-text
                        | Account Management

            //- 選單：個人帳號資料
            li.nav-item(data-placement='right')
                a.nav-link.nav-link-collapse.collapsed(data-toggle='collapse' href='#AccountInfo')
                    i.fa.fa-fw.fa-paw.text-left
                    span.nav-link-text
                        | My Account
                ul#AccountInfo.sidenav-second-level.collapse.show
                    li.type1.type2.type3.auth
                        a(href='accountinfo')
                            i.fa.fa-fw.fa-cog.text-left
                            span.nav-link-text Settings

        //- 隱藏側邊攔
        ul.navbar-nav.sidenav-toggler
            li.nav-item
                a#sidenavToggler.nav-link.text-center
                    i.fa.fa-fw.fa-angle-left

        //- 接聽電話後掛斷紐
        #hangup.talkcontroller.hotline.ml-auto.auth.type2.type3
            button.mask.btn.btn-sm.btn-danger(type="button")
            .btn.btn-sm.btn-danger
                i.fa.fa-microphone-slash.mr-2
                | Hang up
            span.ml-2.text-light.align-middle
                label#minutes 00
                |:
                label#seconds 00

        //- 右上角通知列
        ul.navbar-nav.ml-auto
            //- Log-out
            li.nav-item
                a.nav-link(data-toggle='modal' data-target='#logout')
                    i.fa.fa-fw.fa-sign-out
                    | Logout


//- 來電提示
#call.modal.fade(tabindex="-1" role="dialog" aria-labelledby="call" aria-hidden="true" data-backdrop='static' data-keyboard='false')
    .modal-dialog.modal-dialog-centered(role="document")
        .modal-content
            .modal-header
                h5.modal-title Calling
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
            .modal-body OFW is dialing in now!
            .text-center.mb-3
                button#answer.loop-voip-answer.btn.btn-primary.mr-3(type="button" data-dismiss="modal")
                    i.fa.fa-phone.mr-2
                    | Answer
                button#reject.loop-voip-reject.btn.btn-danger(type="button" data-dismiss="modal")
                    i.fa.fa-microphone-slash.mr-2
                    | Reject

//- 錯誤提示
#error.modal.fade(tabindex="-1" role="dialog" aria-labelledby="error" aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
        .modal-content
            .modal-header
                h5.modal-title Something Wrong!
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
            #errormsg.modal-body
            .text-center.mb-3
                button.btn.btn-primary.mr-3(type="button" data-dismiss="modal") Ok

include footer.pug
include logout.pug

script.
    var type = #{data.type}
    var agid = "#{data.agid}"
    var uri = "#{data.uri}"
    var stun = "#{data.stun}"
    var ext = "#{data.ext}"