//- 模板：空白頁面


include layout.pug
    title This is page template

    // Put your customized js/css here
    link(rel="stylesheet" href="")
    script(src="")

body#page-top.fixed-nav.sticky-footer.bg-dark
    include navbar.pug
    .content-wrapper
        .container-fluid
            // 導覽列
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='#') Main Dashboard
                li.breadcrumb-item.active Sub Dashboard

// Put your js scripts
script.