//- 頁面: 重設密碼



include layout.pug
    title Hotline dashboard
    script(src='/js/resetpw.js')

body.bg-dark
    .container
        .card.card-login.mx-auto.mt-5
            .card-header Reset password
            .card-body
                form
                    .form-group
                        label(for='newpw') Password
                        input#newpw.form-control(name='newpw' type='password' placeholder='Password' required)
                        .invalid-feedback Please enter your new password.
                    .form-group
                        label(for='pwc') Confirm password
                        input#pwc.form-control(name='pwc' type='password' placeholder='Confirm password' required)
                        .invalid-feedback Please check password again.
                    button#reset.btn.btn-primary.btn-block(type='button') Reset

    //- 密碼變更成功提示，跳轉登入頁
    #notice.modal.fade(tabindex='-1' role='dialog' aria-labelledby='notice' aria-hidden='true' data-backdrop='static' data-keyboard='false')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Reset Success!
                .modal-body Your password has been reset thank you. 
                .modal-footer
                    a.btn.btn-primary(href='/login') Login
    
    //- 錯誤提示 (no task or time expired)
    #error.modal.fade(tabindex='-1' role='dialog' aria-labelledby='error' aria-hidden='true' data-backdrop='static' data-keyboard='false')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Error!
                .modal-body Request does not exist or has been expired 
                .modal-footer
                    a.btn.btn-primary(href='/login') Login
                    a.btn.btn-info(href='/forgetpw') Reset password

script.
    if (#{isValid}) {
        $("#error").modal('hide')
    } else {
        $("#error").modal({ show: true })
    }